#Card-title {
	font-size: 0.9rem;
	text-align: justify;
	font-weight: 500;
	color: black;
	margin: 0.5rem;
	display: inline;
	white-space: normal;
}
.Card-full {
	width: 220px;
	max-height: 500px;
	filter: drop-shadow(0px 1px 1px grey);
}

.card-img {
	max-height: 200px;
	object-fit: contain;
}
.buy-btn {
	margin-top: 0.5rem;
	padding: 0;
}
.pencil {
	margin-left: -20px;
	padding: 6px 10px;
	border-radius: 8%;
	border: none;
	filter: drop-shadow(1px 1px 1px black);
	background-color: white;
}
.pencil:focus {
	outline: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
span {
	font-size: 12px;
	color: black;
	margin: 0;
	font-weight: 600;
}
strong {
	color: #d35400;
	font-weight: 500;
	margin: 0;
}
#button-danger {
	background-color: #ffe3b5;
	padding: 2px 10px;

	text-align: center;
	border: 1px solid #d35400;
	border-radius: 20%;
}
.card-background {
	background-color: #f7f7f7;
}
.card-text {
	color: #3c8c5b;
	font-weight: 500;
	font-size: 15px;
	white-space: nowrap;
	/* display: inline-block; */
}
/* Sorting container */
.sorting-container {
	display: flex;
	justify-content: space-between;
}
.sorting-container input[type="search"] {
	box-shadow: 1px 1px 5px green;
	border: none;
	margin: 0.6rem;
	text-align: center;
	color: rgb(3, 95, 3);
	width: 40%;
}
.sorting-container input[type="search"]:focus {
	outline: none;
}
.sorting-btns {
	display: flex;
	width: 200px;
	justify-content: space-between;
	align-items: center;
}
.sorting-btns button {
	box-shadow: 1px 1px 5px green;
	border: none;
	margin: 0.6rem;
	color: green;
	max-height: 45px;
}
.sorting-btns > button:focus {
	outline: 0;
}
